@model CBLSummerBlog07132016.Models..CommentModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CommentViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PostId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentBodyText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentBodyText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentCreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentCreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentUpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentUpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateReason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateReason)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
